html,
body {
  width: 100%;
}
body {
  font-size: 12px;
  color: #000;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
select,
input,
textarea,
button {
  outline: none;
}
ul {
  display: block;
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:link {
  color: #999;
}
a:visited {
  color: #303133;
}
a:hover {
  color: #409EFF;
}
a:active {
  color: #409EFF;
}
/* element-ui框架的样式重写 */
.el-step__description {
  font-size: 14px !important;
  color: #666 !important;
}
